<%= render 'single_page/shared/navbar-single-project-show' %>

<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 300px;">

    <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(/assets/client/images/bg-3.jpg)">
    </div>
    <div class=" parallax-text center-it page-title">
        <h2>Project Detail</h2>
    </div>
</div>
<!--page title-->
<div class="space80"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 margin-btm-30">
            <ul class="list-unstyled project-info">
                <li><i class="ion-calendar"></i> April 2016</li>
                <li><i class="ion-map"></i> Lorem Ipsum, Columbia</li>
                <li><i class="ion-person"></i> Private</li>
                <li><i class="ion-cash"></i> $950,00</li>
                <li><i class="ion-ios-pricetags"></i> <a href="#">Construction</a> / <a href="#">Interior</a></li>
            </ul>
            <p>
                Lorem ipsum dolor sit amet, mea cu omnium urbanitas, labitur volumus id eum. Ius ignota offendit similique et, sea dolorum vituperata ullamcorper et, justo insolens omittantur sit ne. Aliquip pertinax vix ad, ea eos euismod officiis. Utamur minimum repudiare qui ex. Rationibus theophrastus his ut, eum iudico pericula no. Mei id fugit dolor. Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum.
            </p>
            <hr>
            <h4>Even More</h4>
             <p>
                Lorem ipsum dolor sit amet, mea cu omnium urbanitas, labitur volumus id eum. Ius ignota offendit similique et, sea dolorum vituperata ullamcorper et, justo insolens omittantur sit ne. Aliquip pertinax vix ad, ea eos euismod officiis. Utamur minimum repudiare qui ex. Rationibus theophrastus his ut, eum iudico pericula no. Mei id fugit dolor. Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum.
            </p>
            <hr>
            <div class="row">
                <div class="col-sm-6 margin-btm-10">
                    <a href="#" class="btn btn-block btn-lg btn-default">Previous</a>
                </div>
                 <div class="col-sm-6">
                    <a href="#" class="btn btn-block btn-lg btn-default">Next</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/assets/client/images/s1.jpg" alt="" class="img-responsive">
             <img src="/assets/client/images/s4.jpg" alt="" class="img-responsive">
             <img src="/assets/client/images/s4.jpg" alt="" class="img-responsive">
        </div>
    </div>


    <%= render 'customer_review'  %>
</div>
<%= render 'subscribe_to_us' %>









<% block do %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Consumer:</strong>
  <%= @project.consumer %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<% end %>