<div class="google-map-container">
    <div id="googlemaps" style="width: 100%;height: 400px;"></div>
</div>

<div class="c_info_bar wow animated fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center margin-btm-30">
                <h4><i class="ion-ios-time"></i> Monday - Sunday 9:Am - 6:Pm</h4>
            </div>
        </div>
    </div>
</div>