<section id="work">
    <!-- <div class="space100"></div> -->
    <div class="container">
        <div id="js-filters-agency" class="cbp-l-filters-text">
            <div class="cbp-l-filters-text-sort">Sort by:</div>
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".hotel" class="cbp-filter-item">
                Hotels <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".restaurant" class="cbp-filter-item">
                Restaurants <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".bathroom" class="cbp-filter-item">
                Bathrooms <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".kitchen" class="cbp-filter-item">
                Kitchens <div class="cbp-filter-counter"></div>
            </div> |
            <div data-filter=".new_construction" class="cbp-filter-item">
                New Constructions <div class="cbp-filter-counter"></div>
            </div>
        </div>
    </div>
    
    <div id="js-grid-agency" class="cbp cbp-l-grid-agency">

        <!-- hotel -->
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_lobby_1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_lobby_1.JPG" data-cbp-src="/assets/projects/hotels/hotel_lobby_1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Lobby</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_lobby_2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_lobby_2.JPG" data-cbp-src="/assets/projects/hotels/hotel_lobby_2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Lobby</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_1-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_1-1.JPG" data-cbp-src="/assets/projects/hotels/hotel_1-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_2-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_2-1.JPG" data-cbp-src="/assets/projects/hotels/hotel_2-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_2-2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_2-2.JPG" data-cbp-src="/assets/projects/hotels/hotel_2-2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_3-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_3-1.JPG" data-cbp-src="/assets/projects/hotels/hotel_3-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_4-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_4-1.JPG" data-cbp-src="/assets/projects/hotels/hotel_4-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item hotel">
            <a href="/assets/projects/hotels/hotel_5-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/hotels/hotel_5-1.JPG" data-cbp-src="/assets/projects/hotels/hotel_5-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>

        <!-- Restaurants -->
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_1.JPG" data-cbp-src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_2.JPG" data-cbp-src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_3.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_3.JPG" data-cbp-src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_3.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_4.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_4.JPG" data-cbp-src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_4.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_5.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_5.JPG" data-cbp-src="/assets/projects/restaurant/hotel_restaurants/restaurant_hotel_5.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Hotel Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/restaurants/restaurant_1-1.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/restaurants/restaurant_1-1.jpg" data-cbp-src="/assets/projects/restaurant/restaurants/restaurant_1-1.jpg" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
<!--         <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/restaurants/restaurant_1-2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/restaurants/restaurant_1-2.JPG" data-cbp-src="/assets/projects/restaurant/restaurants/restaurant_1-2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Restaurant</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div> -->
        <div class="cbp-item restaurant">
            <a href="/assets/projects/restaurant/restaurants/restaurant_1-3.jpg" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/restaurant/restaurants/restaurant_1-3.jpg" data-cbp-src="/assets/projects/restaurant/restaurants/restaurant_1-3.jpg" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Restaurant</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>

        <!-- Bathrooms -->
        <div class="cbp-item bathroom">
            <a href="/assets/projects/bathrooms/bathroom_1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathrooms/bathroom_1.JPG" data-cbp-src="/assets/projects/bathrooms/bathroom_1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item bathroom">
            <a href="/assets/projects/bathrooms/bathroom_2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathrooms/bathroom_2.JPG" data-cbp-src="/assets/projects/bathrooms/bathroom_2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item bathroom">
            <a href="/assets/projects/bathrooms/bathroom_3.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/bathrooms/bathroom_3.JPG" data-cbp-src="/assets/projects/bathrooms/bathroom_3.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item bathroom">
            <a href="/assets/projects_/bathroomplumbing/7.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects_/bathroomplumbing/7.JPG" data-cbp-src="/assets/projects_/bathroomplumbing/7.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item bathroom">
            <a href="/assets/projects_/bathroomplumbing/8.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects_/bathroomplumbing/8.JPG" data-cbp-src="/assets/projects_/bathroomplumbing/8.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Bathroom</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>

<!-- Kitchens -->
        <div class="cbp-item kitchen">
            <a href="/assets/projects_/kitchen/4.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects_/kitchen/4.JPG" data-cbp-src="/assets/projects_/kitchen/4.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchen</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item kitchen">
            <a href="/assets/projects_/kitchen/3.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects_/kitchen/3.JPG" data-cbp-src="/assets/projects_/kitchen/3.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchen</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
<!--         <div class="cbp-item kitchen">
            <a href="/assets/projects/kitchen/1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/1.JPG" data-cbp-src="/assets/projects/kitchen/1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchen</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div>
        <div class="cbp-item kitchen">
            <a href="/assets/projects/kitchen/2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/kitchen/2.JPG" data-cbp-src="/assets/projects/kitchen/2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Kitchen</div>
                <div class="cbp-l-grid-agency-desc">Construction and Renovation</div>
            </a>
        </div>
 -->
 
 <div class="space100"></div>
    <!-- New Construction -->
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/foundation_1-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/foundation_1-1.JPG" data-cbp-src="/assets/projects/new_constructions/foundation_1-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Foundation</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/foundation_1-2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/foundation_1-2.JPG" data-cbp-src="/assets/projects/new_constructions/foundation_1-2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">Foundation</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/new_construction_2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/new_construction_2.JPG" data-cbp-src="/assets/projects/new_constructions/new_construction_2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">New Construction</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/new_construction_3.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/new_construction_3.JPG" data-cbp-src="/assets/projects/new_constructions/new_construction_3.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">New Construction</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/new_construction_4-1.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/new_construction_4-1.JPG" data-cbp-src="/assets/projects/new_constructions/new_construction_4-1.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">New Construction</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
        <div class="cbp-item new_construction">
            <a href="/assets/projects/new_constructions/new_construction_4-2.JPG" data-lightbox="gallery">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="/assets/projects/new_constructions/new_construction_4-2.JPG" data-cbp-src="/assets/projects/new_constructions/new_construction_4-2.JPG" alt="" width="380" height="250" data-lightbox="gallery">
                    </div>
                </div>
                <div class="cbp-l-grid-agency-title">New Construction</div>
                <!-- <div class="cbp-l-grid-agency-desc">Construction and Renovation</div> -->
            </a>
        </div>
    </div>

    <div class="space50"></div>
    <div class="text-center container">
        <!-- <a href="/projects" class="btn btn-xl btn-dark">View All Projects <i class="ion-android-arrow-forward"></i></a> -->
    </div>
    <div class="space80"></div>
</section>