<section id="services">
    <div class="gray-bg">
        <div class="space100"></div>
        <div class="container">
            <div class="center-title margin-btm-50">
                <h1>What We offer</h1>
                <div class="border-width center-align"></div>
            </div><!--center title end-->
            <div class="owl-carousel owl-theme service-slider">
                <div class="item">
                    <div class="service-box">
                        <div class="service-thumb">
                            <a href="#"><img src="/assets/client/images/s1.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-desc">
                            <h4 class="text-uppercase">Interior Design</h4>
                            <div class="border-width"></div>
                            <p>
                                Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="text-right">
                                <a href="#" class="btn btn-link">View Details</a>
                            </div>
                        </div>
                    </div>
                </div><!--services col end-->
                <div class="item">
                    <div class="service-box">
                        <div class="service-thumb">
                            <a href="#"><img src="/assets/client/images/s2.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-desc">
                            <h4 class="text-uppercase">Project Management</h4>
                            <div class="border-width"></div>
                            <p>
                                Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="text-right">
                                <a href="#" class="btn btn-link">View Details</a>
                            </div>
                        </div>
                    </div>
                </div><!--services col end-->
                <div class="item">
                    <div class="service-box">
                        <div class="service-thumb">
                            <a href="#"><img src="/assets/client/images/s3.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-desc">
                            <h4 class="text-uppercase">House Renovation</h4>
                            <div class="border-width"></div>
                            <p>
                                Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="text-right">
                                <a href="#" class="btn btn-link">View Details</a>
                            </div>
                        </div>
                    </div>
                </div><!--services col end-->
                <div class="item">
                    <div class="service-box">
                        <div class="service-thumb">
                            <a href="#"><img src="/assets/client/images/s4.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="service-desc">
                            <h4 class="text-uppercase">Constructions</h4>
                            <div class="border-width"></div>
                            <p>
                                Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            </p>
                            <div class="text-right">
                                <a href="#" class="btn btn-link">View Details</a>
                            </div>
                        </div>
                    </div>
                </div><!--services col end-->
            </div><!--services row end-->
        </div>
        <div class="space50"></div>
        <div class="text-center">
            <a href="#" class="btn btn-xl btn-skin">View All Services <i class="ion-android-arrow-forward"></i></a>
        </div>
        <div class="space100"></div>
    </div>
</section>