        <div class="testimonials">
            <div class="container">
                <div class="center-title margin-btm-50">
                    <h1>What they say</h1>
                    <div class="border-width center-align"></div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="testi-slider owl-carousel owl-theme">
                            <div class="item">
                                <i class="ion-quote"></i>
                                <p>
                                    " We are so happy working with Bpress, the guys are very familiar and work with passionate, services are absolutely awesome, highly recommended. "
                                </p>
                                <h5>John Doe</h5>
                            </div>
                            <div class="item">
                                <i class="ion-quote"></i>
                                <p>
                                    " We are so happy working with Bpress, the guys are very familiar and work with passionate, services are absolutely awesome, highly recommended. "
                                </p>
                                <h5>John Doe</h5>
                            </div>
                            <div class="item">
                                <i class="ion-quote"></i>
                                <p>
                                    " We are so happy working with Bpress, the guys are very familiar and work with passionate, services are absolutely awesome, highly recommended. "
                                </p>
                                <h5>John Doe</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>