<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>BRR</title>
    	
    	<%= csrf_meta_tags %>

        <!-- Bootstrap -->
        <link href="/assets/client/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/client/css/animate.css" rel="stylesheet">
        <link href="/assets/client/ion-icons/css/ionicons.min.css" rel="stylesheet">
        <link href="/assets/client/construction-fonts/flaticon.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="/assets/client/lightbox2/dist/css/lightbox.css" rel="stylesheet">

        <!--master slider-->
        <% if (controller_name == 'projects') && (action_name == 'show') %>
            <link rel="stylesheet" href="/assets/client/masterslider/style/masterslider.css"/>
        <% end %>
        <link href="/assets/client/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet">
        <link href="/assets/client/dzsparallaxer/dzsparallaxer.css" rel='stylesheet' >
		<link href="/assets/client/css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
  <body>
  	<div id="preloader"></div>
  	<!-- navbar -->
  	<%= render 'single_page/shared/top_navbar' %>
  	<%= render 'single_page/shared/navbar' %>
  	<!--/nav -->

    <%= yield %>
	
	<!--footer-->
	<%= render 'single_page/shared/footer' %>
	<!--footer end-->

    <!--back to top-->
    <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
    <!--back to top end-->

    <!-- jQuery -->
    <script src="/assets/client/js/jquery.min.js"></script>
    <script src="/assets/client/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/client/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/client/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/client/js/wow.min.js"></script>
    <script src="/assets/client/dzsparallaxer/dzsparallaxer.js" type="text/javascript"></script>
    <script src="/assets/client/owl-carousel/owl.carousel.min.js"></script>
    <script src="/assets/client/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="/assets/client/js/custom.js"></script>

    <body class='<%= controller_name %> <%= action_name %>'>
    <% if (controller_name == 'projects') && (action_name == 'index') %>
              <!--page script-->
        <script src="/assets/client/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script>
            (function($, window, document, undefined) {
            'use strict';

            // init cubeportfolio
            $('#js-grid-agency').cubeportfolio({
                filters: '#js-filters-agency',
                loadMore: '#js-loadMore-agency',
                loadMoreAction: 'click',
                layoutMode: 'grid',
                defaultFilter: '*',
                animationType: 'slideLeft',
                gapHorizontal: 15,
                gapVertical: 0,
                gridAdjustment: 'responsive',
                mediaQueries: [{
                    width: 1500,
                    cols: 4
                }, {
                    width: 1100,
                    cols: 4
                }, {
                    width: 800,
                    cols: 3
                }, {
                    width: 480,
                    cols: 2
                }, {
                    width: 320,
                    cols: 1
                }],
                caption: 'zoom',
                displayType: 'fadeIn',
                displayTypeSpeed: 100
            });
            })(jQuery, window, document);
        </script>

    <% end %>
  </body>

</html>
