<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title> <%= @meta_title ? "#{@meta_title }" : @default_meta_title %> </title>
        <meta name='description' content="<%= @meta_desc ? @meta_desc : @default_meta_desc %>">
        <meta name="keywords" content="<%= @default_meta_keyw %>">
        <meta name="author" content="7urkm3n">
        
        <link rel="icon" href="/assets/projects_/bathroomplumbing/_6_768.jpg" type="image/x-ico">

        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= @default_meta_title %>" />
        <meta property="og:description" content="<%= @default_meta_desc %>" />
        <meta property="og:url" content="http://www.syrcontracting.com /" />
        <meta property="og:site_name" content="" />
        <meta property="og:image" content="http://www.brrcr.com/assets/projects_/kitchen/_4_768.jpg" />
        
        <!-- <meta property="og:image:type" content="image/jpg">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024"> -->
        <meta property="og:locale" content="en_US" />
        <meta name="twitter:card" content="summary" />


        <!-- Bootstrap -->
        <link href="/assets/client/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/client/css/animate.css" rel="stylesheet">
        <link href="/assets/client/ion-icons/css/ionicons.min.css" rel="stylesheet">
        <link href="/assets/client/construction-fonts/flaticon.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="/assets/client/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="/assets/client/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet">

        <link href="/assets/client/lightbox2/dist/css/lightbox.css" rel="stylesheet">
        <!--master slider-->
        <link rel="stylesheet" href="/assets/client/masterslider/style/masterslider.css"/>

        <link href="/assets/client/dzsparallaxer/dzsparallaxer.css" rel='stylesheet'>
        <link href="/assets/client/css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <%= csrf_meta_tags %>
    </head>
    <body data-spy="scroll" class="landing-page">
    <!-- <div id="preloader"></div> -->

    <%= yield %>
    <%= render 'single_page/shared/footer' %>

    <!--back to top-->
    <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
    <!--back to top end-->

    <!-- jQuery -->
    <script src="/assets/client/js/jquery.min.js"></script>
    <script src="/assets/client/js/jquery-migrate.min.js"></script>
    <script src="/assets/client/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/client/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/client/js/wow.min.js"></script>
    <script src="/assets/client/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/client/js/bootstrap-hover-dropdown.min.js"></script>

    <script src="/assets/client/owl-carousel/owl.carousel.min.js"></script>
    <script src="/assets/client/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="/assets/client/js/custom.js"></script>
    <!--page template scripts-->
    <script src="/assets/client/contact_form/contact.js"></script>
    <!-- Google Maps -->
    <script src="/assets/client/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <!-- Google Maps -->
    <!-- <script src="https://maps.google.com/maps/api/js?key=AIzaSyBENlIxSKmTEK2fJeKjKo_JMxC9jE2IkL4"></script> -->

    <script src="/assets/client/js/jquery.gmaps.min.js"></script>
    <script type="text/javascript">
        // (function ($) {
        //     $(document).ready(function () {

        //         $('#googlemaps').gMap({
        //             maptype: 'ROADMAP',
        //             scrollwheel: false,
        //             zoom: 13,
        //             markers: [
        //                 {
        //                     address: 'New York, 45 Park Avenue', // Your Adress Here
        //                     html: '<strong>Our Office</strong><br>45 Park Avenue, Apt. 303 </br>New York, NY 302012 ',
        //                     popup: false,
        //                     icon: {
        //                         image: "/assets/client/images/marker.png",
        //                         iconsize: [28, 40],
        //                         iconanchor: [20, 40]
        //                     }
        //                 }
        //             ]
        //         });
        //     });
        // })(this.jQuery);

        //Auto Close Responsive Navbar on Click
        $(document).ready(function () {

            function close_toggle() {
                if ($(window).width() <= 768) {
                    $('.navbar-collapse a').on('click', function () {
                        $('.navbar-collapse').collapse('hide');
                    });
                } else {
                    $('.navbar .navbar-inverse a').off('click');
                }
            }
            close_toggle();
            $(window).resize(close_toggle);

        });


        $(document).ready(function () {
            //smooth scroll
            $(function () {
                $('.scroll-to a[href*="#"]:not([href="#"])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 600);
                            return false;
                        }
                    }
                });
            });
            (function ($, window, document, undefined) {
                'use strict';

                // init cubeportfolio
                $('#js-grid-agency').cubeportfolio({
                    filters: '#js-filters-agency',
                    loadMore: '#js-loadMore-agency',
                    loadMoreAction: 'click',
                    layoutMode: 'grid',
                    defaultFilter: '*',
                    animationType: 'slideLeft',
                    gapHorizontal: 15,
                    gapVertical: 0,
                    gridAdjustment: 'responsive',
                    mediaQueries: [{
                            width: 1500,
                            cols: 4
                        }, {
                            width: 1100,
                            cols: 4
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2
                        }, {
                            width: 320,
                            cols: 1
                        }],
                    caption: 'zoom',
                    displayType: 'fadeIn',
                    displayTypeSpeed: 100
                });
            })(jQuery, window, document);
        });
    </script>
    <script>
        // GOOGLE ANALYTICS
    </script>
    </body>
</html>