<footer class="footer">
    <div class="container">
<!--         <div class="row">
            <div class="col-md-4 margin-btm-30">
                <h1><a href="/">BRRCR</a></h1>
                <div class="space30"></div>
                <p>
                    We offer you stand ready to serve you with unsurpassed quality goods and services Our team of experts are ready to serve all your needs. With just one day notice, our team can have large crew or reliable and experienced workers ready to begin work for your specific needs.​​
                </p>
                <a href="#" class="btn btn-link">Read More</a>
            </div>
            <div class="col-md-3 margin-btm-30">
                <h3>Our Services</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Interior Designs</a></li>
                    <li><a href="#">Project Management</a></li>
                    <li><a href="#">House Renovation</a></li>
                    <li><a href="#">Constructions</a></li>
                </ul>                        
            </div>
            <div class="col-md-5">
                <h3>Latest Projects</h3>
                <div class="latest-projects">
                    <a href="#">
                        <img src="/assets/client/images/work-1.jpg" alt="" class="img-responsive">
                    </a>
                    <a href="#">
                        <img src="/assets/client/images/work-2.jpg" alt="" class="img-responsive">
                    </a>
                    <a href="#">
                        <img src="/assets/client/images/work-3.jpg" alt="" class="img-responsive">
                    </a>
                    <a href="#">
                        <img src="/assets/client/images/work-4.jpg" alt="" class="img-responsive">
                    </a>
                    <a href="#">
                        <img src="/assets/client/images/work-5.jpg" alt="" class="img-responsive">
                    </a>
                    <a href="#">
                        <img src="/assets/client/images/work-6.jpg" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        <hr> -->
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Projects</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>   
            </div>
            <div class="col-sm-5 text-right">
                <span>&copy; 2017. All Right Reserved. SyrConstructing</span>
            </div>
        </div>
    </div>
</footer>