<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand" do %>
                <h3 style='color: #edac15'>SyrConstructing</h3>
            <% end %>
            <!-- <a class="navbar-brand" href="index.html">
                LOGO
                <img src="/assets/client/images/logo.png" alt="">
                <h3 style='color: #edac15'>BRR Construction</h3>
            </a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">V1 - Default Slider</a></li>
                        <li><a href="index-static-img.html">V2 - Static Image</a></li>
                        <li><a href="index-youtbe.html">V3 - Youtube background</a>
                        </li><li><a href="index-onepage.html">one  page</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">headers </a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html"> Default</a></li>
                                <li><a href="header-transparent.html"> Transparent</a></li>
                                <li><a href="header-sticky.html"> Sticky</a></li>
                                <li><a href="header-dark.html"> Dark</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">menu level 2 </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"> menu level 3</a></li>
                                        <li><a href="#"> menu level 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="projects-2col.html">2 Columns</a></li>
                        <li><a href="projects.html">3 Columns</a></li>
                        <li><a href="projects-4col.html">4 Columns</a></li>
                        <li><a href="projects-full-width.html">Full width</a></li>
                        <li><a href="single-project.html">Single Project</a></li>
                    </ul>
                </li> -->
<!--                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="service.html">All Services</a></li>
                        <li><a href="renovation-service.html">House renovation</a></li>
                        <li><a href="management-service.html">Project management</a></li>
                        <li><a href="construction-service.html">Construction</a></li>
                        <li><a href="interior-service.html">Interior design</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="accordoins.html">Accordions</a></li>
                        <li><a href="grid-system.html">Grid System</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="post.html">Blog Post</a></li>
                        <li><a href="contact.html">Contact</a></li>
                         
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="error-404.html">Error-404</a></li>
                        <li><a href="full-width.html">Page Full Width</a></li>
                        <li><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                        <li><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                        
                    </ul>
                </li>
                <li class="search-toggle"><a href="javascript:void(0)"><i class="ion-search"></i></a>
                    <form class="search-form">
                        <input type="text" class="form-control" placeholder="Search here...">
                        <button type="submit" style="display: none">Search</button>
                    </form>
                </li>-->
                </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</nav>